body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 10px;
    align-items: center;
}
.card { 
    width: 22%;
    height: 400px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.container {
   width: 97vw;
   background-color: blue;
   display: flex;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   align-items: flex-end;
   justify-content: space-around;
   flex-wrap: wrap;
}
.card-img {

}
h1{
   width: 90vw;
   height: 40px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: auto;
}
@media screen and (max-width: 800px) {
    .card {
        width: 100%
    }
    .container {
        flex-direction: column;
    }
}